# python
**/__pycache__/
**/.pylint.d/
**/.coverage
tests/reports/
tests/htmlcov/
**/*.egg-info

# pyinstaller
*.spec
build
dist

# Natscript files
*.nat
!examples/*.nat
!lib/*.nat
**/*.natc

# work files
.vscode/
interpreter/algo
interpreter/_experimental
todo.txt

# cProfile output file
o
